body {
  background-color: black;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.center {
  text-align: center;
}

.control {
  height: 2em;
  padding: 0.25em;
  display: inline-block;
}
.controls {
  font-size: 1em;
  padding: 0.25em;
  height: 5em;
  * {
    color: white;
    background-color: black;
  }

  input,
  button {
    border: 1px solid cyan;
  }

  input {
    max-width: 30%;
    padding: 0.5em;
  }

  button {
    padding: 0.5em;
    height: 2em;
    line-height: 1em;
  }
}

#chart {
  --padding: 0px;
  background-color: navajowhite;
  outline: solid 0px cyan;
  width: calc(100vw - var(--padding) * 2);
  height: calc(100vh - 5em - var(--padding) * 2);
  margin: var(--padding);
}
